{% extends 'base.html' %}
{% block conteudo %}
<h2>Novo Agendamento</h2>
<form method="POST">
    <label>Cliente:
        <select name="cliente_id">
            {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
            {% endfor %}
        </select>
    </label><br>
    <label>Início: <input type="datetime-local" name="inicio" required></label><br>
    <label>Fim: <input type="datetime-local" name="fim" required></label><br>
    <button type="submit">Salvar</button>
</form>
{% endblock %}
